.heroContainer {
  max-width: 64rem;
}

.gridTwo {
  display: grid;
  gap: 1rem;
}

@media (min-width: 768px) {
  .gridTwo {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.formStack {
  max-width: 64rem;
  display: grid;
  gap: 1rem;
}
